*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #212121;
	color: white;
}

.container{
	position: relative;
}

.clock{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	border: 2px solid rgba(255, 255, 255, 0.25);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
}

.clock span{
	position: absolute;
	transform: rotate(calc(30deg * var(--i))); /*360/12*/
	inset: 12px;
	text-align: center;

}

.clock span b{
	transform: rotate(calc(-30deg * var(--i)));
	display: inline-block;
	font-size: 20px;
}

.clock::before{
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #fff;
	z-index: 2;
}

.hand{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.hand i{
	position: absolute;
	background-color: var(--clr);
	width: 4px;
	height: var(--h);
	border-radius: 8px;
}

h1{
	border: 3px solid white;
	font-size: 50px;
	width: 300px;
	color: rgb(40, 236, 243);
	text-align: center;
	justify-content: right;
	align-items: right;

}

.Digital{
	/*box-sizing: border-box;
	height: 30px;
	width: 100px;
	font-size: 15px;
	font-weight: 10px;
	text-align: center;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*	border-radius: 5px;*/
/*	background-color: #212121;*/
/*	color: white;*/

background-color: gainsboro;
/*border: none;*/
/*color: white;*/
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
box-sizing: border-box;
cursor: pointer;
}

.Digital:hover{
	background-color: lightgray;
}